<% if @product.errors.any? %>
<h2><%= @product.errors.count %> erros encontrado ao salvar produto:</h2>

<ul>
  <% @product.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @product, html: { class: 'form-horizontal' } do |f| %>

<div class="form-group">
  <%= f.label :name, "Nome", class: "col-sm-3 control-label" %>
  <div class="col-sm-9">
    <%= f.text_field :name, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :price, "Preço de Custo", class: "col-sm-3 control-label" %>
  <div class="col-sm-9">
    <%= f.text_field :price_cost, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :price_sale, "Preço de Venda", class: "col-sm-3 control-label" %>
  <div class="col-sm-9">
    <%= f.text_field :price_sale, class: 'form-control' %>
  </div>
</div>


<div class="form-group">
  <%= f.label :status, "Ativo", class: "col-sm-3 control-label" %>
  <div class="col-sm-2">
    <%= f.check_box :status, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <%= f.label :description, "Descrição", class: "col-sm-3 control-label" %>
  <div class="col-sm-9">
    <%= f.text_area :description, class: 'form-control' %>
  </div>
</div>

<div class="form-group">
  <div class="col-sm-12">
    <%= link_to "Voltar", products_path, class: "btn btn-default" %>
    <%= f.submit "Salvar", class: "btn btn-success" %>
  </div>
</div>

<% end %>