<div class="page-header">
  <h1>Lista de Produtos</h1>
  <div class="text-right">
    
  <%= link_to  new_product_path, class: "btn btn-success" do %>
    <i class="glyphicon glyphicon-plus"></i> Cadastrar
  <% end %>
  </div>
</div>

<% if flash[:notice] %>
<div class="alert alert-success" id="alert">
  <%= flash[:notice] %>
</div>
<% end %>

<div class="row">
  <% @products.each do |product| %>
  <div class="col-sm-6 col-xs-12 col-md-3 col-lg-3">
  <div class="card-product">
      <img src="<%= product.photo.url(:medium) %>" class="img-responsive">
      <div class="info">
        <h5><%= link_to product.name, product_path(product.id) %></h5>
        <p> Código: <%= product.id %></p>
        <p> Custo: R$<%= product.price_cost %></p>
        <p> Venda: R$<%= product.price_sale %></p>
        <p class="status <%= (product.status)? 'line-success':'line-danger' %>"><%= (product.status)? 'Ativo':'Inativo' %></p>
      </div>
      <div class="footer">
        <%= link_to edit_product_path(product.id) do %>
        <i class="glyphicon glyphicon-edit"></i> editar
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
  
</div>

<div class="row">
  <%= will_paginate @products %>
</div>