
<div class="page-header">
  <h1>Lista de Produtos</h1>
</div>

<div class="row">
  <div class="col-sm-6">
    <input type="text" name="serch" placeholder="Pesquisar por nome" class="form-control">
  </div>
  <div class="col-sm-6 text-right">
    <%= link_to  new_product_path, class: "btn btn-success" do %>
    <i class="glyphicon glyphicon-plus"></i> Cadastrar
    <% end %>
  </div>
  <div class="col-xs-12">
    <hr>
  </div>
</div>

<% if flash[:notice] %>
<div class="alert alert-success" id="alert">
  <%= flash[:notice] %>
</div>
<% end %>

<div class="row">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Status</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
        <tr class="<%= (product.status)? 'line-grid':'line-danger' %>">
          <td><%= product.id %></td>
          <td><%= product.name %></td>
          <td><%= (product.status)? 'Ativo':'Inativo' %></td>
          <td><%= link_to edit_product_path(product.id) do %>
            <i class="glyphicon glyphicon-edit"></i> editar
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <%= will_paginate @products %>
</div>