<h1>Lista de Produtos</h1>

<% if flash[:notice] %>
<div class="alert alert-success">
  <%= flash[:notice] %>
</div>
<% end %>

<%= link_to "Novo produto", new_product_path, class: "btn btn-primary" %>

<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>Nome</th>
    <th>Preço Custo</th>
    <th></th>
    <th></th>
  </tr>
  <% @products.each do |product| %>
  <tr>
    <td><%= product.id %></td>
    <td><%= product.name %></td>
    <td><%= product.price %></td>
    <td><%= link_to "Editar", edit_product_path(product.id) %></td>
    <td><%= link_to "Ver detalhes", product_path(product.id) %></td>
  </tr>
  <% end %>
</table>

<div class="row">
  <%= will_paginate @products %>
</div>