<div class="page-header">
	<h1><%= @product.name %></h1>
</div>
<div class="col-sm-6">
	<img src="<%= @product.photo_url %>" class="img-responsive">
</div>
<div class="col-sm-6">
	<p>Código: <%= @product.id %></p>
	<p>Preço de Custo: <%= @product.price_cost %></p>
	<p>Preço de Venda:<%= @product.price_sale %></p>
	<p>Situação: <%= (@product.status)? 'Ativo':'Inativo' %></p>
	<p><%= @product.description %></p>
</div>
