<div class="row">
	<div class="col s12">
		<h1><%= @donation.name %></h1>
	</div>
	<div class="col s6">
		<img src="<%= image_url('img01.jpg') %>">
	</div>

	<div class="col s6">
		<p><b>NOME:</b> <%= @donation.name %></p>
		<p><b>SEXO:</b> <%= @donation.sex %></p>
		<p><b>PORTE:</b> <%= @donation.porte %></p>
		<p><b>PORTE:</b> <%= @donation.porte %></p>
	</div>
</div>
