<main>
  <div class="container">

    <div class="row">
    <div class="col s3 m2">
        <div class="side-bar">
          <h4>Catergorias</h4>
          <ul>
            <% @categories.each do |category| %>
            <li><a href="#" title=""><%= category.title %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col s9 m10">
        <div class="camera_wrap camera_black_skin" id="camera_wrap">
          <div data-thumb="<%= image_url('cachorro-beneficios.jpg') %>" data-src="<%= image_url('cachorro-beneficios.jpg') %>"></div>
          <div data-thumb="<%= image_url('desaparecisoilustrativooo.jpg') %>" data-src="<%= image_url('desaparecisoilustrativooo.jpg') %>"></div>
          <div data-thumb="<%= image_url('slide5.jpg') %>" data-src="<%= image_url('slide5.jpg') %>"></div>
        </div>
      </div>

    </div>
  </div>

</main>
