<!DOCTYPE html>
<html>
<head>
  <title>Doacao</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "application" %>
</head>

<body>
  <div id="wrapper">
    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <header class="header">
      <div class="toolbar black">

        <div class="container white-text">
          <div class="row">
            <div class="col s12">
              <div class="login">
                <p class="navbar-text pull-right">
                  <% if user_signed_in? %>
                  Logged in as <strong><%= current_user.email %></strong>.
                  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                  <% else %>
                  <%= link_to "cadastrar", new_user_registration_path, :class => 'navbar-link'  %> |
                  <%= link_to "login", new_user_session_path, :class => 'navbar-link'  %>
                  <% end %>
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="container">
          <div class="row">
            <div class="col s12">
              <div class="logo">
                <h1>DOAÇÃO DE ANIMAIS</h1>
                <p>Faça uma boa ação hoje adote um animal.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <nav>
      <div class="nav-wrapper grey lighten-3 ">
        <div class="container">
          <a href="#!" class="brand-logo"></a>
          <a href="#" data-activates="mobile-demo" class="button-collapse green-text text-darken-4"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><%= link_to "Início", root_path,  class: "green-text text-darken-4" %></li>
            <li><%= link_to "Animais para Doações", donations_path,  class: "green-text text-darken-4" %></li>
            <li><a class="green-text text-darken-4" href="collapsible.html">Contato</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><%= link_to "Início", root_path,  class: "green-text text-darken-4" %></li>
            <li><%= link_to "Doações", donations_path,  class: "green-text text-darken-4" %></li>
            <li><a class="green-text text-darken-4" href="collapsible.html">Contato</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>

    <footer class="page-footer green darken-4">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h5 class="white-text center">ANIMAIS PARA DOAÇÃO</h5>
            <p class="grey-text text-lighten-4">Como a principal organização de bem-estar animal na área, o Animal Shelter está transformando a maneira como as pessoas se preocupam com animais em todo os BRASIL.</p>
          </div>
        </div>
      </div>
      <div class="footer-copyright grey darken-4">
        <div class="container">
          Doação de Animais
        </div>
      </div>
    </footer>
  </div>
</body>
</html>
