
<div class="row">
	<div class="col s6 offset-s3">
		<h2><%= t('.resend_confirmation_instructions') %></h2>
		<h2><%= t('.sign_up') %></h2>
		<p><%= devise_error_messages! %></p>
		<div class="card">
			<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
			<%= devise_error_messages! %>
			<div class="card-content white-text">
				<span class="card-title">Card Title</span>

				<div class="field">
					<%= f.label :email %><br />
					<%= f.email_field :email, autofocus: true, :class => 'green-text text-darken-4', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
				</div>


				<div class="field">

					<%= f.label :password_confirmation %><br />
					<%= f.password_field :password_confirmation, autocomplete: "off", :class => 'green-text text-darken-4' %>
				</div>

				<% end %>
			</div>
			<div class="card-action">
				<%= f.submit t('.resend_confirmation_instructions'), :class => 'waves-effect green darken-4 btn' %>
			</div>
			<% end %>
		</div>
		<%= render "devise/shared/links" %>
	</div>
</div>